{% load i18n %}

<div class="email-notifier-instructor-wrapper">
    <div>
        <p class="title-list">{% trans "In this section you can set your email notification preferences for the discussion forum. The available options are:" %}</p>
        <ul class="list-container">
            <li>{% trans "None: I don't want to receive any email notifications." %}</li>
            <li>{% trans "All posts: I want to receive email notifications for all posts." %}</li>
            <li>
                {% trans "Only posts I'm following: I want to receive email notifications for posts I'm following." %}
            </li>
            <li>
                {% trans "All posts (Daily digest): I want to receive email notifications for all posts in a daily digest." %}
            </li>
            <li>
                {% trans "All posts (Weekly digest): I want to receive email notifications for all posts in a weekly digest." %}
            </li>
        </ul>
    </div>

    <p><b>{% trans "These notifications are only sent to the instructor of the course." %}</b></p>
    <p>{% trans "The available notifications of the discussion forum are: created post, response to post, comment to post. These notifications are sent to the email address associated with your account. Below you can select the type of notifications you want to receive:" %}</p>

    <select class="dropdown email-notifications-select">
        {% for value, text in options %}
            {% if value == current_preference %}
                <option class="email-notifications-options" value="{{value}}" selected>{% trans text %}</option>
            {% else %}
                <option class="email-notifications-options" value="{{value}}">{% trans text %}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<script type="text/javascript" src="/platform_plugin_forum_email_notifier/static/js/src/forum_notifier.js"></script>
