[run]
branch = True
data_file = .coverage
source=platform_plugin_forum_email_notifier
omit =
    test_settings.py
    */migrations/*
    *admin.py
    */static/*
    */templates/*
    */tests/*
    */settings/*
