include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include platform_plugin_forum_email_notifier *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
