{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% trans "Summary of Discussion Activity" as tmsg %}{{ tmsg | force_escape }}
            </h1>

            {% for thread in threads %}
                {% if thread.object_type == 1 %}
                    <p style="color: rgba(0,0,0,.75);">
                        <a href="{{ thread.url }}discussions/{{ course_id }}/posts/{{ thread.thread_id }}">{{ thread.title }} ↗</a>: {{ thread.body }}
                        <br />
                    </p>
                {% elif thread.object_type == 2 %}
                    <p style="color: rgba(0,0,0,.75);">
                        <i>{% trans "Response" %}</i>: {{ thread.body }}
                        <br />
                    </p>
                {% else %}
                    <p style="color: rgba(0,0,0,.75);">
                        <i>{% trans "Comment" %}</i>: {{ thread.body }}
                        <br />
                    </p>
                {% endif %}
            {% endfor %}

            <p style="color: rgba(0,0,0,.75);">
                {% autoescape off %}
                {# xss-lint: disable=django-blocktrans-missing-escape-filter #}
                {% blocktrans %}You are receiving this email because you set your preferences to receive a summary of all discussion activity. To stop receiving this email, please change your settings{% endblocktrans %}
                <a href="{{ forum_notifier_url }}">{% trans "here" %}</a>.
                {% endautoescape %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
